.actionbar {
  display: flex;
  justify-content: space-between;
  margin: 0 -9% 0% -9%;
}

.item {
  /* flex: 1; */
  text-align: center;
  font-size: 12px;
  border: none;
  display: inline-block;
  vertical-align: middle;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.item.left {
  /* text-align: left; */
  font-size: 12px;
}

.item.center {
  /* text-align: left; */
  padding-top: 1%;
}

.item.right {
  /* text-align: right; */
  font-size: 20px;
  vertical-align: middle;
  padding-bottom: 1%;
}

.item:hover i{
  color: grey;
  cursor: pointer;
}

span {
  width: 33%;
}

.button {
  background: none;
  border: none;
  outline: none;
  border:none;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
}

.button:hover {
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),
  0 6px 20px 0 rgba(0,0,0,0.19)
}

#info:hover i {
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),
  0 6px 20px 0 rgba(0,0,0,0.19)
}

#info:hover #loupeMeta {
  display: block;
}

#loupeMeta {
    display: none;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    z-index: 1;
    bottom: 5%;
    right: 6%;
    border-radius: 6px;
    position: fixed;
}

#loupeMeta li {
  text-align: center;
  float: none;
  padding: 0px 16px 20px 20px;
}

#form {
  display: none;
  color: #fff;
  text-align: center;
  z-index: 1;
  position: fixed;
  bottom: 5%;
  left: 5%;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}


@media (max-width:600px) {
  .hide-small{display:none !important;}
}

@media (min-width:600px) {
  .hide-large{display:none !important;}
}

.nav {
  overflow: hidden;
  background-color: #333;
  color: gray;
  color: white;
  text-align: center;
  text-decoration: none;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.link {
  overflow: hidden;
  float:left;
}

.link a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  margin: 0;
}

.link a:hover {
  background-color: #111;
	box-shadow: 0 -2px 10px rgba(255,255,255,0.2);
}

.active {
    background-color: #222;
    color: white;
	  font-style: italic;
}

#menu-icon {
  float: right;
  text-align: right;
  color: white;
  font-size: 30px;
  padding: 14px 18px;
}

#smallnav {
  display: none;
}

#smallnav a {
  display: inline-block;
	width: 100%;
	text-align: center;
	z-index: 1;
  overflow: hidden;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 8px 10px;
}
